* {
    margin: 0;
    padding: 0;
}

/* DISEÑO AL LOGO */
.logoDesktop {
    width: 100px;
}

.grilla {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-areas:
        "nav nav nav nav"
        "header header header header"
        "primeraSeccion primeraSeccion segundaSeccion segundaSeccion"
        "primeraSeccion primeraSeccion segundaSeccion segundaSeccion"
        "footer footer footer footer";
    background-color: #ccc9c9;
    background-image: linear-gradient(19deg, # 0%, #1cc9c9f141d 100%);
}

/* DISEÑO AL NAV */
.nav {
    grid-area: nav;
    display: flex;
    flex-wrap: wrap;
    background-color: #0008e9;
    background-image: linear-gradient(160deg, #0008e9 0%, #80D0C7 100%);
    max-height: 100px;
    justify-content: space-between;
}
.nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center
}
.nav a {
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}
.nav a:hover {
    color: rgba(204, 116, 8, 0.555);
}
.nav li {
    list-style: none;
    padding: 1.5rem;
}
.nav li:hover {
    background-color: rgba(5, 48, 167, 0.63);
}
/* DISEÑO AL HEADER */
.header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
}
/* DISEÑO AL H1 */
.header h1 {
    margin: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    color: rgba(22, 1, 1, 0.603);
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 2.5rem;
    background-color: #9e9b9b;
    padding: 1rem;  
}
/* DISEÑO AL DIV CON IMAGEN Y PARRAFO */
.header div {
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    align-items: center;
    max-width: 1500px;
    margin: 3rem;
}
/* DISEÑO AL PARRAFO AL LADO DE LA IMAGEN PRINCIPAL */
.header div p {
    text-align: center;
    max-width: 200px;
    color: rgba(236, 236, 243, 0.822);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: rgba(57, 57, 58, 0.582);
}
.header img {
    width: 600px;
}
/* DISEÑO A LA PRIMERA SECCION - IMAGENES CON SERVICIOS */
.primeraSeccion {
    grid-area: primeraSeccion;
}
.primeraSeccion div {
    display: flex;
    margin: 4rem;
    flex-direction: column;
    max-width: 350px;
    align-items: center;
}
.primeraSeccion div:hover {
    
}
/* DISEÑO A LOS TITULOS DE LOS SERVICIOS */
.primeraSeccion div h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
/* DISEÑO A LA SEGUNDA SECCION - HACENOS TU CONSULTA Y BOTON */
.segundaSeccion {
    grid-area: segundaSeccion;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin: 2rem;

}
.segundaSeccion button {
    margin: 1rem;
    background-color: rgba(29, 28, 27, 0.829);
    width: 15rem;
    height: 3rem;
    font-size: large;
    color: #f4f5f8;
    font-weight: 500;
    border-radius: 15px;    
}


/* footer */
.footer {
    grid-area: footer;
    min-height: 25vh;
    background-color: #9e9b9b;
    margin: 1rem;
    font-size: 2rem;
}
.footer p {
    text-align: center;
}
.footer img {
    max-height: 2rem;
}
.footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}
.footer li {
    padding: 2rem;
}

/* RESPONSIVE DESIGNE - MEDIA QUERY MOBILE LAST */
/* MOBILE LAST - MAX WIDTH */

@media (max-width: 768px) {
    .grilla {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .nav {
        flex-direction: column-reverse;
        padding: .5rem;
        font-size: 12px;
    }
    .header {
        max-height: 50vh;
    }
    .header h1 {
        font-size: 1.5rem;
        margin: 1rem;
    }
    .header img {
        width: 350px;
    }
    .header div p {
        font-size: 1.2rem;
    }
    .segundaSeccion {
        margin: 3rem;
    }
    .segundaSeccion button {
        margin-top: 2rem;
    }
}